<mat-card>
  <mat-card-header>
    <mat-card-title> Members List </mat-card-title>
  </mat-card-header>
  <mat-progress-bar
    *ngIf="callState === loadingState.LOADING"
    mode="indeterminate"
  ></mat-progress-bar>
  <mat-card-content>
    <mat-list>
      <mat-list-item
        *ngFor="let member of members"
        class="hover:bg-gray-50"
        (click)="selectedClicked(member); $event.stopImmediatePropagation()"
      >
        <h3 matListItemTitle>{{ member.firstName }} {{ member.lastName }}</h3>
        <button
          mat-icon-button
          matListItemMeta
          (click)="deleteClicked(member); $event.stopImmediatePropagation()"
        >
          <mat-icon>clear</mat-icon>
        </button>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
