<mat-card>
  <mat-card-header>
    <mat-card-title>
      {{ title }}
    </mat-card-title>
  </mat-card-header>
  <form [formGroup]="form" (submit)="formSubmitted(form.value)">
    <mat-card-content>
      <mat-form-field class="w-full">
        <mat-label>First Name</mat-label>
        <input
          matInput
          type="text"
          autocomplete="given-name"
          placeholder="Type your first name here"
          formControlName="firstName"
        />
        <mat-error
          *ngFor="let error of form.firstName?.errors ?? {} | errorKeys"
        >
          {{ messages[error] }}
        </mat-error>
      </mat-form-field>
      <mat-form-field class="w-full">
        <mat-label>Last Name</mat-label>
        <input
          matInput
          type="text"
          autocomplete="family-name"
          placeholder="Type your last name here"
          formControlName="lastName"
        />
        <mat-error
          *ngFor="let error of form.lastName?.errors ?? {} | errorKeys"
        >
          {{ messages[error] }}
        </mat-error>
      </mat-form-field>
      <mat-form-field class="w-full">
        <mat-label>Email</mat-label>
        <input
          matInput
          type="email"
          autocomplete="email"
          placeholder="Type your last email here"
          formControlName="email"
        />
        <mat-error *ngFor="let error of form.email?.errors ?? {} | errorKeys">
          {{ messages[error] }}
        </mat-error>
      </mat-form-field>
      <mat-form-field class="w-full">
        <mat-label>Choose a date</mat-label>
        <input
          matInput
          [matDatepicker]="picker"
          autocomplete="bday"
          formControlName="dob"
        />
        <mat-hint class="text-sm text-gray-400">MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions class="justify-end gap-3">
      <button
        mat-stroked-button
        type="reset"
        color="warn"
        (click)="formReset()"
      >
        Cancel
      </button>
      <button mat-flat-button type="submit" color="primary">
        {{ selectedMember.id ? 'Update' : 'Submit' }}
      </button>
    </mat-card-actions>
  </form>
</mat-card>
