<div
  *ngIf="viewModel$ | async as vm"
  class="flex flex-wrap gap-3 mt-3 md:flex-nowrap"
>
  <div class="order-2 w-full md:order-1">
    <higher-order-operators-members-list
      [callState]="vm.callState"
      [members]="vm.members"
      [total]="vm.total"
      (pageEvent)="fetchMembers($event)"
      (deleted)="deleteMember($event)"
      (searched)="searchMembers($event)"
      (selected)="selectMember($event)"
    />
  </div>
  <div class="order-1 w-full md:order-2">
    <higher-order-operators-members-details
      [member]="vm.member"
      (submitted)="saveMember($event)"
      (reset)="reset()"
    />
  </div>
</div>
